/*
D3 Taxonomy Mindmap (Drupal module)
Copyright (C) 2014 Anshi Solutions
Contact me at ceo@anshisolutions.com

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1.5px;
}